@use '_colors.scss' as c; 

.detail-page {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    max-width: 1400px;
    gap: 2rem;
    margin: auto;

    .general {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        gap: 1rem;

        .keywords {
            margin-block: 0;
        }

        img {
            max-width: 200px;
            filter: saturate(.6);
        }
    }
}

.content {
    display: block;
}

.hide {
    display: none;
}

.text-content {
    flex-grow: 1;
    display: flex;
    gap: 1rem;
    max-width: 800px;
    flex-wrap: wrap;
    text-align: left;
}

.box.two {
    background-color: c.$dark-purple;
    background: linear-gradient(to top right, c.$purple -50%, c.$medium-purple 30%, c.$medium-purple 80%, c.$light-purple 145%); 
}

.box {
    background-color: c.$medium-purple;
    background: linear-gradient(to bottom right, c.$dark-purple, c.$medium-purple, c.$light-purple 145%); 
    padding: 1rem;
    border-radius: 1rem;
    // max-width: 400px;
    flex-grow: 1;
    // margin: auto;
    color: c.$lavender;
    box-shadow: .3rem .2rem 20px #10002b;


    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: c.$vanilla;
        cursor: pointer;

        button {
            border: none;
            background-color: transparent;
            background-image: url(/assets/arrow-down.svg);
            width: 2rem;
            aspect-ratio: 1;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 1.4rem;
            transition: .5s;
        }

        button.active {
            // background-image: url(/assets/arrow-up.svg);
            transform: rotate(-180deg);
        }
    }

    p {
        font-size: 1.1rem;
        font-weight: bold;
    }

    span {
        color: c.$light-purple;
        font-size: 1rem;
        font-weight: normal;
        padding-left: 1rem; 
    }
}

.btns {
    display: flex;
    justify-content: center;
    
    button {
        background-color: c.$cadetblue;
        border: none;
        padding: .25rem .5rem;
        opacity: .5;
        transition: .2s;

        &:hover {
            background-color: c.$purple;
        }

        &:first-of-type {
            border-radius: 1rem 0 0 1rem;
        }

        &:last-of-type {
            border-radius: 0rem 1rem 1rem 0;
        }
    }

    button.active {
        background-color: c.$light-purple;
        opacity: 1;

    }
}
