@use '_colors.scss' as c; 

@keyframes textAnimation {
    0% {  
        stroke-dashoffset: 290; 
        transform: scale(.6); 
    }

    50% {
        fill: transparent; 
    }

    100% {
        stroke-dashoffset: 0;
        transform: scale(1);
        fill: c.$vanilla;
    }
}


@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes rotate {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
