@use '_colors.scss' as c; 
@use '_home.scss';
@use '_keyframes.scss';
@use '_reading.scss';
@use '_book.scss';
@use '_details.scss';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: linear-gradient(to bottom right, c.$lavender, c.$purple) no-repeat;
    font-family: sans-serif;
    min-height: 100vh;
    color: rgb(51, 41, 54);
    color: c.$vanilla; 
    text-align: center;
    background: radial-gradient(transparent, rgba(0, 0, 0, 0.795)), url(/assets/bg.jpg) no-repeat; 
    background-position: center;
    background-size: cover; 
    background: linear-gradient(to top right, #9d4edd -50%, #10002b 30%, #10002b 80%, #e0aaff 145%); 
    font-family: 'nata sans', sans-serif;
}


button {
    cursor: pointer;
    font-family: inherit;
}

ul {    
    list-style: '✦';
    
    li {
        padding-left: .5rem;
    }
}
